.item_text {
    background: #ccc;
}
#mainlist li div {
    display: inline;
}
#mainlist li {
    padding-left: 1em;
    padding-right: 1em;
}
#mainlist li div:hover {
    background: #cfc;
}
.selected {
    border: 1px solid red;
}
#debugarea {
	width: 80%;
}
